/* Tile1.css */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 1000px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  img {
    max-width: 400px;
  }
  
  h1, p1 {
    margin: 10px 0;
  }
  