.contact-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #333;
    text-align: center; /* Align the text to the right */
    padding: 10px 20px;
    margin: 20px; /* Add some margin for spacing */
}